<div class="card-panel events white">
	<a class="card-icon center-align btn btn-floating waves-effect waves-red" href="#"><img src="{{assets}}/img/pink-block.jpg" width="55" /></a>
		<div class="card-content">
			<ul class="list-events">
				<li><span class="grey-text text-darken-2"><b class="pink-text text-darken-2">june 13</b> lavendar love</span>
					<p>PLANT an aroma therapy garden using live lavender, and other wonderful herbs<br />MAKE a lavender skin scrub using natural ingredients<br />TASTE lavender sweet treats and drinks made by our wonderful baker, Merissa.</p>
					<p>Shop our lovely lavender collection of soaps, lotions, dried bundles, wreaths, candles and more!</p>
					<p>Kids make lavender craft!</p>
					<p>ALL ages welcome to join us!</p></li>
					<li><span class="grey-text text-darken-2"><b class="pink-text text-darken-2">june 26</b> the butterfly house opening weekend</span><p>Join us opening weekend to celebrate the return of the Monarch Butterflies!</p><p>Talk a walk through our magical butterfly garden. Learn about the life cycle of the butterflies. Experience butterflies live in flight!</p></li>
			</ul>
			<a href="#" class="btn btn-flat pink darken-2 white-text waves-effect waves-light">Explore More</a>
		</div>
	</div>