---
component: footer
---
<footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 m6 s12">
          <h5 class="white-text">Creekside Gardens</h5>
          <p><address class="grey-text text-lighten-4">The Pond People<br />4 Village Lane<br />Tunkhannock, PA 18657 USA</address></p>


        </div>
        <div class="col l2 offset-l4 m4 offset-m2 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li class="white-text">Tel: <a class="white-text right" href="tel:+15708363595">570.836.3595</a></li>
            <li class="white-text">Fax: <a class="right white-text" href="#!">570.836.7723</a></li>
            <li class="white-text">Email: <a class="right white-text" href="#!">Click here!</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Copyright 2015 <a class="orange-text text-lighten-3" href="http://materializecss.com">Creekside Gardens</a>
      </div>
    </div>
  </footer>
  {{>scripts}}