<div class="card pink darken-1">
	<div class="card-content white-text">
	  <span class="card-title">Our Hours</span>
	  <ul class="hours">
	  	<li><b class="pink darken-1">monday</b><span>9 to 5</span></li>
	  	<li><b class="pink darken-1">tuesday</b><span>9 to 5</span></li>
	  	<li><b class="pink darken-1">wednesday</b><span>9 to 5</span></li>
	  	<li><b class="pink darken-1">thursday</b><span>9 to 5</span></li>
	  	<li><b class="pink darken-1">friday</b><span>9 to 5</span></li>
	  	<li><b class="pink darken-1">saturday</b><span>9 to 5</span></li>
	  	<li><b class="pink darken-1">sunday</b><span>9 to 5</span></li>
	  </ul>
	</div>
	<div class="card-action">
	  <a href="#">Contact Us</a>
	  <a href='#'>Get Directions</a>
	</div>
</div>