<div class="border-overlay"></div>
<div class="slider-nav">
    <!-- <ul>
        <li><a href="#slide-1" class=""></a></li>
        <li><a href="#slide-2" class=""></a></li>
        <li><a href="#slide-3" class=""></a></li>
        <li><a href="#slide-4" class=""></a></li>
    </ul> -->
     <a class="go-prev btn-floating btn-flat btn-small waves-effect waves-light red"><i class="mdi-hardware-keyboard-arrow-up"></i></a>
     <a class="go-next btn-floating btn-flat btn-small waves-effect waves-light red"><i class="mdi-hardware-keyboard-arrow-down"></i></a>
</div>
<div class="slides-container">
    <div class="slide Aligner" id="slide-1">
        <!-- <img src="https://p.digipen.io/creeksidegardens.com/background1a.jpg" /> -->
        <div class="centered Aligner-item">
            <h1 class="page-title center-align blue-grey-text text-darken-2" style="margin-bottom:1rem;">Welcome</h1>
            <img src="{{assets}}/img/logo-trans.png" style="" />
            <h2 class="center-align blue-grey-text text-darken-4" style="margin-top:1rem;font-size:1.2rem; ">If you are looking for more than just a plant place, then Creekside Gardens should be your next stop</h2>
        </div>
    </div>
    <div class="slide Aligner" id="slide-2">
        <!-- <img src="https://p.digipen.io/creeksidegardens.com/img/background3a.jpg" /> -->
        <div class="centered Aligner-item">
            <h2>Adorn your garden with the area's best selection of annuals, perennials, shurbs, and trees.</h2>
            <a href="#!" class="valign btn btn-flat yellow darken-4 white-text waves-effect waves-light col s2">Start Here</a>
        </div>
    </div>
    <div class="slide Aligner" id="slide-3">
        <!-- <img src="https://p.digipen.io/creeksidegardens.com/img/background2b.jpg" /> -->
        <div class="centered Aligner-item">
            <h1>Mi purus euismod</h1>

            <p>Mi purus euismod condimentum pretium aliquet torquent nunc mauris donec.</p>
        </div>
    </div>
    <div class="slide Aligner" id="slide-4">
        <!-- <img src="https://p.digipen.io/creeksidegardens.com/img/butterflybga.jpg" /> -->
        <div class="centered Aligner-item">
            <h1>Mi purus euismod condimentum</h1>
            <p>Mi purus euismod condimentum pretium aliquet torquent nunc mauris donec.</p>
        </div>
    </div>
</div>