<div class="card water left-align">
    <div class="card-image left">
      <img src="{{assets}}/img/watergardens.jpg">
    </div>
    <div class="card-content left light-blue lighten-2">
      <a class="card-icon center-align btn btn-floating waves-effect waves-water waves-ripple" href="#"><img src="{{assets}}/img/blue-block.jpg" /></a>
      <!-- <div class="card-icon center-align circle z-depth-2"><img src="{{assets}}/img/green-block.jpg" class="" /></div> -->
      <span class="card-title white-text darken-4">Water Gardens</span>
      <p class="white-text">Ac sed dolor a cubilia phasellus ultrices condimentum praesent vulputate ridiculus habitant netus consectetur consequat odio.</p>
    </div>
    <div class="card-action">
      <a href="#" class="right">Learn More</a>
    </div>
</div>