 <nav class="hide-on-large-only mobi">
    <div class="nav-light wrapper-blue accent-2 white-text">
      <a href="#" class="brand-logo">
<img src="https://p.digipen.io/creeksidegardens.com/img/logo.jpg" style="height:100%;width:auto;display:block;max-height:100%;" />
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="components.html">Components</a></li>
        <li><a href="javascript.html">JavaScript</a></li>
      </ul>
    </div>
  </nav>