<div class="nav-logo">
	<img src="https://p.digipen.io/creeksidegardens.com/img/logo.jpg" style="" />
</div>
<ul id="nav-mobile" class="">
	<li><a href="#">Home</a></li>
	<li><a href="#">Garden Center</a></li>
	<li><a href="#">Gift Shop</a></li>
	<li><a href="#">Landscaping</a></li>
	<li><a href="#">Water Gardens</a></li>
	<li><a href="#">Directions</a></li>
	<li><a href="#">Workshops</a></li>
	<li><a href="#">Events</a></li>
	<li><a href="#">Contact</a></li>
</ul>
<div class="visit">
	<h5>Visit Us</h5>
	<p>Located 2 miles South<br />of Tunkhannock<br/>on Route 29</p>
	<p>570 836 3395</p>
</div>