<div class="card nursery left-align">
    <div class="card-image">
      <img src="{{assets}}/img/nurserycard1.jpg">
      <!-- <span class="card-title">Garden Center</span> -->
    </div>
    <div class="card-content">
      <a class="card-icon center-align btn btn-floating waves-effect waves-green" href="#"><img src="{{assets}}/img/green-block.jpg" /></a>
      <!-- <div class="card-icon center-align circle z-depth-2"><img src="{{assets}}/img/green-block.jpg" class="" /></div> -->
      <span class="card-title green-text darken-4">Garden Center</span>
      <p>Ac sed dolor a cubilia phasellus ultrices condimentum praesent vulputate ridiculus habitant netus consectetur consequat odio.</p>
    </div>
    <div class="card-action">
      <a href="#">Continue</a>
    </div>
</div>