html{
  color:rgba(38, 50, 56, 0.8);
}
h2 {
  font-size: 3.26rem;
  line-height: 3.616rem;
  margin: 1.78rem 0 1.424rem 0;
}
#index-banner{
  background-image:url('https://p.digipen.io/creeksidegardens.com/background1a.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-bottom:3rem;
}
.insidePage #index-banner{
  background-image:none;
}
footer.page-footer {
  margin-top: 0;
  z-index: 999;
  position: relative;
}
#index-banner h1 {
  margin-top: 32px;
  line-height: 4rem;
  margin: 2.1rem 0 0.0rem 0;
}
.table-of-contents a.active{
  border-left:2px solid #4fc3f7;
}
footer address{
  font-style: normal;
}
ul.side-nav.fixed{
  z-index:99999;
}
.flex{
  display:flex;
  flex-direction:row;
  content-align:center;
  align-items: center;
  height:80px;
  padding:0;
  text-align:left;
}
.flex .box-heading{
  font-size:80%;
  flex:1;
  padding-left:0.8rem;
  padding-top:2rem;
  padding-bottom:2rem;
  padding-right:0.8rem;
}

.flex .box-heading h2{
  /*color:#fff;*/
  font-size:2em;
  margin:auto;
  font-weight:200;
  line-height:1;
}
.flex .box-heading h2 span{
  font-weight:400;
}
.flex .box-content{
  padding-left:0rem;
  padding-right:0.8rem;
}
.flex .box-content img{
  display:block;
  width:45px;
  height:auto;
  margin:0 auto;
}
.card .card-image {
  position: relative;
  max-height: 12rem;
  overflow: hidden;
  display: block;
}
.meta .card-content li{
  width:70%;
}
.meta .card-content li span{
  display:inline-block;
  float:right;
}


 /*
    When creating your CSS selector,
    change "brown" to something of your choosing
    */
    .waves-effect.waves-blue .waves-ripple {

     /* The alpha value allows the text and background color
     of the button to still show through. */
      background-color: rgba(33, 150, 243, 0.65);
    }
/*.insidePage header,.insidePage main,.insidePage footer {
  padding-left: 240px; 
}*/
a{
  color:#4fc3f7;
}
#inside-page-logo{
  width:100%;
  max-width:100%;
  height:auto;
  display:block;
  margin-top:;
}
footer.page-footer{
  margin-top:0;
}

/* experience create inspire caption */
.caption.brand{
  word-spacing: 1rem;
  font-size: 1.1rem;
}


/* sidenav */
/*.side-nav li {
  float: none;
  padding: 0 15px;
}*/
.side-nav li:hover, .side-nav li.active {
  background-color: #e1f5fe;
}
ul.side-nav.fixed li:hover, ul.side-nav.fixed li.active {
  background-color: rgba(33, 150, 243, 0.2);
}
ul.side-nav.fixed li.logo{
  padding:1rem 1rem 3rem 1rem
}


#map-canvas {
  min-height: 350px;
  height: 450px;
  /* width: 100%; */
  margin: 0px;
  padding: 0px;
}
#map-canvas {
  /*margin-right: 400px;*/
}
#directions-panel {
  height: 400px;
  overflow: auto;
}




/*
.side-nav.fixed a {
  display: block;
  padding: 0 15px;
  color: #444;
}
.side-nav .collapsible li {
  padding: 0;
}
.side-nav .collapsible-body li a {
  margin: 0 1rem 0 2rem;
}*/
/*ul.side-nav.fixed li {
  line-height: 44px;
}
ul.side-nav.fixed li a {
  font-size: 13px;
  line-height: 44px;
  height: 44px;
}
ul.side-nav.fixed li.logo{
  height:auto;
  line-height:normal;
  padding: 3rem 1rem;
}
ul.side-nav.fixed li.logo a.brand-logo{
  height:auto;
  line-height: normal;
}
a.button-collapse.top-nav {
  position: absolute;
  text-align: center;
  height: 48px;
  width: 48px;
  left: 7.5%;
  top: 0;
  float: none;
  margin-left: 1.5rem;
  color: #fff;
  font-size: 32px;
  z-index: 2;
}*/
@media only screen and (max-width: 992px){
	/*header, main, footer {
	  padding-left: 0;
	}*/
}
@media only screen and (min-width: 993px){
  /*.container {
    width:85%;
  }*/
}


/*ul.side-nav.fixed li.logo {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 16px;
  border-bottom: 1px solid #ddd; }
  ul.side-nav.fixed li.logo:hover {
    background-color: transparent; }*/

/*ul.side-nav.fixed {
  overflow: hidden; }
  ul.side-nav.fixed li {
    line-height: 44px; }
    ul.side-nav.fixed li:hover, ul.side-nav.fixed li.active {
      background-color: rgba(0, 0, 0, 0.05); }
    ul.side-nav.fixed li a {
      font-size: 13px;
      line-height: 44px;
      height: 44px; }
  ul.side-nav.fixed ul.collapsible-accordion {
    background-color: #FFF; }
  ul.side-nav.fixed:hover {
    overflow-y: auto; }*/

/*.bold > a {
  font-weight: bold; }*/

/*#logo-container {
  height: 57px;
  margin-bottom: 32px; }*/

/*nav.top-nav {
  height: 122px;
  box-shadow: none; }
  nav.top-nav a.page-title {
    line-height: 122px;
    font-size: 48px; }*/

/*a.button-collapse.top-nav {
  position: absolute;
  text-align: center;
  height: 48px;
  width: 48px;
  left: 7.5%;
  top: 0;
  float: none;
  margin-left: 1.5rem;
  color: #fff;
  font-size: 32px;
  z-index: 2; }
  a.button-collapse.top-nav.full {
    line-height: 122px; }*/
/*
@media only screen and (max-width : 600px) {
  a.button-collapse.top-nav {
    left: 5%; } }

@media only screen and (max-width : 992px) {
  nav .nav-wrapper {
    text-align: center; }
    nav .nav-wrapper a.page-title {
      font-size: 36px; } }

@media only screen and (min-width : 993px) {
  .container {
    width: 85%; } }

#front-page-logo {
  display: inline-block;
  height: 100%;
  pointer-events: none; }

@media only screen and (max-width: 992px) {
  #front-page-nav ul.side-nav li {
    float: none;
    padding: 0 15px; }
    #front-page-nav ul.side-nav li:hover {
      background-color: #ddd; }
    #front-page-nav ul.side-nav li .active {
      background-color: transparent; }
  #front-page-nav ul.side-nav a {
    color: #444; } }*/
